body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgb(108, 108, 249), rgb(153, 255, 250));
}

.input-section, .list-section {
    margin: 20px;
}

.list-section {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    height: 560px;
}

